<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="valid1" value="email@email.com" />
		<Parameter name="invalid1" value="" />
		<Parameter name="valid2" value="onlyone@atsymbol.com" />
	</TestRunParameters>
<LoggerRunSettings>
	<Loggers>
		<Logger friendlyName="console" enabled="True">
			<Configuration>
				<Verbosity>quiet</Verbosity>
			</Configuration>
		</Logger>
		<Logger friendlyName="trx" enabled="True">
			<Configuration>
				<LogFileName>foo.trx</LogFileName>
			</Configuration>
		</Logger>
		<Logger friendlyName="html" enabled="True">
			<Configuration>
				<LogFileName>Kellogg_Report.html</LogFileName>
			</Configuration>
		</Logger>
	</Loggers>
</LoggerRunSettings>
</RunSettings>